<div id="elenco-screen" class="game-screen">
  <h2>Elenco do Time</h2>
  <div class="substitution-lists-container">
    <div class="player-list-section">
      <h3>Titulares</h3>
      <ul id="field-players-list" class="player-list scrollable"></ul>
    </div>
    <div class="player-list-section">
      <h3>Reservas</h3>
      <ul id="bench-players-list" class="player-list scrollable"></ul>
    </div>
  </div>
  <div class="subs-actions">
    <button id="substitute-player-btn" class="main-btn">Fazer Substituição</button>
    <button id="back-from-squad-btn" class="main-btn">Voltar</button>
  </div>
</div>
