<div id="partida-screen" class="game-screen">
  <h2>Simulação de Partida</h2>
  <div class="scoreboard">
    <span id="home-team-name-scoreboard"></span>
    <span id="home-score">0</span>
    <span> - </span>
    <span id="away-score">0</span>
    <span id="away-team-name-scoreboard"></span>
  </div>
  <p id="match-minute" class="match-minute-display">Minuto: 0</p>

  <div class="match-events-container">
    <h3>Eventos da Partida</h3>
    <ul id="events-list" class="scrollable match-event-list"></ul>
  </div>

  <div class="subs-actions">
    <button id="simulate-match-btn" class="main-btn"▶️ Simular Partida</button>
    <button id="pause-match-for-subs-btn" class="main-btn" style="display: none;">⏸️ Substituir Jogador</button>
    <button id="continue-match-btn" class="main-btn" style="display: none;">⏯️ Continuar</button>
  </div>
</div>
